<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Login' }) %>


    <body>
        <nav id="navbar">
            <div id="logo">quelue</div>
        </nav>

        <main>
            <div id="account-box">
                <h3>Watch your favorite TV shows</h3>
                <h3>Login to start the quelue!</h3>
                <div class="account-form">
                    <form action="/login" method="POST">
                        <div class="form-section">
                            <label for="username">username</label>
                            <div class="input-field">
                                <input 
                                type="text" 
                                name="username"
                                id="username" 
                                />
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="username">password</label>
                            <div class="input-field">
                                <input 
                                type="password" 
                                name="password"
                                id="password" 
                                />
                            </div>
                        </div><p class="register-login-error">Error: Username and password combination was not found.</p>
                        <div class="button-container">
                            <button>Submit</button>
                        </div>
                    </form>
                </div>

                <div class="register-login-redirect">
                    <a href="/register">Don't have an account? Register for free.</a>
                </div>

            </div>
        </main>
    </body>

</html>