<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Login' }) %>


    <body>
        <main>
            <div id="login-box">
                <h3>Watch your favorite TV shows</h3>
                <h3>Login to start the quelue!</h3>
                <div class="login-form">
                    <form action="/login" method="POST">
                        <div>
                            <label for="username">username</label>
                            <div class="input-field">
                                <input 
                                type="text" 
                                name="username"
                                id="username" 
                                />
                            </div>
                        </div>
                        <div>
                            <label for="username">password</label>
                            <div class="input-field">
                                <input 
                                type="password" 
                                name="password"
                                id="password" 
                                />
                            </div>
                        </div>
                        <div>
                            <button>Submit</button>
                        </div>
                    </form>
                </div>
                <p>Password is incorrect</p>
                <div>
                    <a href="/register">Don't have an account? Register for free.</a>
                </div>

            </div>
        </main>
    </body>

</html>