<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Register' }) %>

    <body>
        <main>
            <div id="acccount-box">
                <h3>Watch your favorite TV shows for free</h3>
                <h3>Register for an account today!</h3>
                <div class="account-form">
                    <form action="/register" method="POST">
                        <div>
                            <label for="username">username</label>
                            <div class="input-field">
                                <input 
                                type="text"
                                name="username" id="username" 
                                />
                            </div>
                        </div>
                        <div>
                            <label for="email">email</label>
                            <div class="input-field">
                                <input 
                                type="email"
                                name="email" id="email" 
                                />
                            </div>
                        </div>
                        <div>
                            <label for="dob">birthdate</label>
                            <div class="input-field">
                                <input 
                                type="date" name="dob"
                                id="dob" placeholder="YYYY, MM, DD" 
                                />
                            </div>  
                        </div>
                        <div>
                            <label for="password">password</label>
                            <div class="input-field">
                                <input type="password"
                                name="password" id="password" 
                                />
                            </div>
                        </div>
                        <div>
                            <label for="passwordTwo">confirm password</label>
                            <div class="input-field">
                                <input
                                name="passwordTwo" type="password" id="passwordTwo" />
                            </div>
                            <p>Passwords do not match</p>
                        </div>
                        <div>
                            <button>Submit</button>
                        </div>
                    </form>
                </div>

                <div>
                    <a href="/login">Already have an account? Log in.</a>
                </div>

            </div>
        </main>
    </body>

</html>