<nav id="navbar">
    <div id="logo">quelue</div>

    <div class="nav-main-links">
        <span class="nav-main-padding">
        <a class="nav-main" href="/users/<%= user.id %>">HOME</a></span>
        <a class="nav-main" href="/shows">ALL SHOWS</a>
    </div>
    <div class="nav-user-links">
        <span class="nav-user-padding">
            <a href="/users/<%= user.id %>">
                <%= user.username %></a>
            </span>
        <span class="nav-user-padding">
            <a href="/<%= user.id %>/edit">Edit Profile</a>
        </span>
        <span>
        <form action="/logout" method="POST">
                <button class="logout-button" type="submit">Logout</button>
        </form>
        </span>
    </div>
        
        <!-- <div class="">
            <form action="/logout" method="POST">
                <div>
                    <button class="logout-button" type="submit">Logout</button>
                </div>
            </form>
        </div> -->
    <!-- <a class="navbar-item" href="/users/< %= user._id %>">Homepage</a> -->
</nav>