<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head/_head', { page: 'Shows' }) %> 
<body>
    <main>
        <div>
            <% for (let idx = 0; idx < shows.length; idx++) { %> <% const show = shows[idx] %>
                <img src="<%= show.image %>" alt="" />
            <% } %> 
        </div>
    </main>
</body>
</html>